body {
  font-family: "Montserrat";
  text-align: center;
}

/* h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: white;
} */
/* Headings */
.big-heading {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.colored-section {
  background-color: #1f5f8b;
  color: #fff;
}

.white-section {
  background-color: #fff;
  color: #1891ac;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 1rem;
}

.navbar-brand {
  font-family: "Montserrat";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: normal;
}

.nav-link:hover {
  color: white;
  border-style: solid;
}

/* Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */
#title {
  background-color: #1f5f8b;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */
.title-image {
  width: 70%;
  /* transform: rotate(25deg); */
  position: absolute;
  right: 25%;
  border-radius: 50%;
}

.white-text {
  color: white;
}

/* Features Section */
#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #d2ecf9;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #1891ac;
}

/* Testimonial Section */
#testimonials {
  background-color: #1891ac;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #1891ac;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/**********************************************************************/
/* Work Experience*/
.work-image{
  width: 60%;
  margin: 5px;
  padding: 10px;
}

.list-config{
  text-align: left;
  color:inherit;
  font-weight: normal;
}



/**********************************************************************/
/* Education */
#education {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.cert-icon {
  width: 125px;
  height: 100px;
  border-style: solid;
  border-radius: 10%;
  border-color: #1891ac;
}

.cert-icon-align {
  text-align: center;
}

/* Certifications */
.list-align-certifications {
  text-align: center;
  color: #253b6e;
}

.card-item {
  text-align: left;
  color: #1f5f8b;
}

.body-text {
  text-align: center;
  color: #1f5f8b;
}


.card-heading {
  font-family: "Montserrat";
  margin-top: 10px;
  text-align: center;
  color: #1891ac;
  font-weight: bold;
}

.image-adjust {
  position: relative;
  text-align: center;
  padding: 10px 10px 10px 10px;
  border-radius: 10%;
  width: 70%;
}

/**********************************************************************/
/* COMMUNITY INVOLVEMENT */
.community-images {
  position: relative;
  text-align: center;
  padding: 10px 10px 10px 10px;
  border-radius: 10%;
  width: 70%;
}

.subtexter {
  font-size: 2rem;
}

.press-images {
  position: relative;
  text-align: center;
  padding: 10px 10px 10px 10px;
  border-radius: 10%;
  width: 70%;
}

.carousel-arrow {
  background-color: #1891ac;
  color: #1891ac;
  opacity: 1.0;
  border-style: solid;
  border-radius: 10%;
}

/**********************************************************************/
/*Contact*/
/* Footer Section */
.social-icon {
  margin: 20px 10px;
  width: 50px;
  height: 50px;
  border-style: solid;
  border-radius: 10%;
}

.social-icon:hover {
  color: #d2ecf9;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
